.quoteBox {
  /* border: 1px solid black; */
  max-width: 50rem;
  min-height: 10rem;
  box-shadow: 0 8px 13px 1px rgba(0, 0, 0, 0.667);
  background-color: white;
  flex-wrap: wrap;
  border-radius: 5px;
}

p {
  font-size: 20px;
}

.quote-text {
  padding: 2rem 2rem 2rem 0rem;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  text-align: justify;
  margin-left: 1rem;
}

.author-text {
  /* border: 1px solid black; */
  padding: 1rem;
  text-align: right;
  font-style: italic;
  width: 100%;
  /* min-width: 20rem; */
}

button {
  margin-left: 70%;
  margin-bottom: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: white;
  user-select: none;
}

span {
  font-size: 4rem;
  margin: 1rem 0rem 1rem 1rem;
  /* border: 1px solid black; */
}

.container {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
